<h1>Supercar Map</h1>
<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div class="">
      <a class="rbtn" href="/supercars/map">MAP</a>
      <a class="rbtn" href="/supercars/">LIST</a>
    </div>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 51.515113, lng: -0.072051};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWUjCRkGFvj_nc2q0-gbYNcdeNQhH0FLg&callback=initMap">
    </script>
  </body>
</html>
