<h1>Supercar Map</h1>

<div class="">
  <a class="rbtn" href="/map">MAP</a>
  <a class="rbtn" href="/supercars/">LIST</a>
</div>
<br>


<div class="map1" data-users="<%= JSON.stringify(users) %>"></div>

<div id="map"></div>
