<h1>SUPERCARS NEW.EJS</h1>

<div class="form">
  <form method="POST" action="/supercars" enctype="multipart/form-data">
    <div>
      <label for="make">Make</label>
      <input type="text" name="make" id="make">
    </div>
    <div>
      <label for="model">Model</label>
      <input type="text" name="model" id="model">
    </div>
    <div>
      <label for="carpic">Car Picture</label>
      <input type="file" name="carpic" id="carpic">
    </div>


    <button class="button">Add your Supercar</button>
  </form>

</div>
