<div class="container">
  <div class="row">
    <div class="tag-line-div">
      <h1 id="tag-line-1">drive my Aventador.</h1>
      <h6 id="tag-line-2">P2P Super Car Swap for London Super Car owners</h6>
      <button class="rbtn" type="submit" name="register" href="/register">REGISTER</button>
      <button class="rbtn" type="button" name="findoutmore" href="/findoutmore">FIND OUT MORE</button>
      <br>
      <%# <img src="./assets/images/aventador.jpg">%>
    </div>

  </div>
</div>
