<div class="container">
  <div class="row">
    <div class="tag-line-div">
      <h1 id="tag-line-1">drive my Aventador.</h1>
      <h6 id="tag-line-2">EXCLUSIVE PRIVATE MEMBERS SUPERCAR SWAP CLUB FOR LONDON SUPERCAR OWNERS</h6>

      <form class="" method="post">
        <button class="rbtn" type="submit" name="register" formaction="/register">REGISTER</button>
        <button class="rbtn" type="submit" name="findoutmore" formaction="/find-out-more">FIND OUT MORE</button>
      </form>

    </div>

  </div>
</div>
<section>
  <div class="news">
    <h1>NEWS HEADLINES</h1>
  </div>
</section>
