body {
  background-color: #F0F0F0;
}

main {
  // background-color: #EBC632;
  // background-color: #F0F0F0;

}

h1 h2 {
  text-align: center;
}

.logo {
  color: red;
  font-family: verdana;
  font-weight: bold;

}

.homepage {
  // background-color: red;
  height: 80vh;
  background-image:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
        url('/assets/images/aventador.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}

.tag-line-div {
  // background-color: red;
  width: 100%;
  text-align: center;
  height: 400px;
  color: white;
  // font-family: 'brandon-grotesque', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  #tag-line-1 {
    margin-top: 15%;
    font-size: 55px;
    letter-spacing: 2px;
    // text-shadow: 1px 1px black;
  }
  #tag-line-2 {
    color: #ebc632;
    font-size: 12px;
    letter-spacing: 2px;
    padding-bottom: 2%;
  }
  button {
    // width: 100%;
    text-align: center;
    margin: 20px 10px;
  }
}

.car-make {
  position: relative;
}

.register-button {
  width: 100%;
  text-align: center;
}

.rbtn {
  background: #fff;
  background-image: -webkit-linear-gradient(top, #ffff, #ffff);
  background-image: -moz-linear-gradient(top, #ffff, #ffff);
  background-image: -ms-linear-gradient(top, #ffff, #ffff);
  background-image: -o-linear-gradient(top, #ffff, #ffff);
  background-image: linear-gradient(to bottom, #ffff, #ffff);
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  // font-weight: 700;
  letter-spacing: 1px;
  color: #ebc632;
  font-size: 10px;
  padding: 10px 20px 10px 20px;
  border: solid #fafafa 2px;
  text-decoration: none;
  outline: none;
  margin: 10px;
}

.rbtn:hover {
  background-color: rgba(212, 152, 0, 0.0);
  text-decoration: none;
  border: solid #fafafa 2px;
  color: #fff;
}

.news {
  background: #ededeb;
  width: 100%;
  height: 100%;
  text-align: center;
}

.row.homepage {
  margin-top: 4%
}


div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    align: center;
    text-weight:  normal;
}

#map {
  height: 500px;
  width: 100%;
 }

a.navbar-brand.logo {
  color: #ebc632;
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
}

.find-out-more {
  height: 80vh;
  background-image:
        // linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
        url('/assets/images/huracan.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        // border: 10px solid #ebc632;
}

.fom {
  color: white;
  // background-color: #ff3399;
  #fom {
    color: #ebc632;
    font-size: 20px;
    letter-spacing: 2px;
    // padding-bottom: 2%;
  }
}

.fom-center {
  // background-color: red;
  text-align: center;
  padding: 5px;
}

.bbtn {
  background: #fff;
  background-image: -webkit-linear-gradient(top, #ffff, #ffff);
  background-image: -moz-linear-gradient(top, #ffff, #ffff);
  background-image: -ms-linear-gradient(top, #ffff, #ffff);
  background-image: -o-linear-gradient(top, #ffff, #ffff);
  background-image: linear-gradient(to bottom, #ffff, #ffff);
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  // font-weight: 700;
  letter-spacing: 1px;
  color: #ebc632;
  font-size: 10px;
  padding: 10px 20px 10px 20px;
  border: solid #ebc632 2px;
  text-decoration: none;
  outline: none;
  margin: 10px;
}

.bbtn:hover {
  background-color: rgba(0, 0, 0, 0.0);
  text-decoration: none;
  border: solid black 2px;
  color: black;
}

.profile-page {
  color: red;
}

.car-list {
  border: solid black 3px;
}

@media only screen and (max-width: 640px) {

  

  .rbtn {
    // background: #fff;
    background-image: -webkit-linear-gradient(top, #ffff, #ffff);
    background-image: -moz-linear-gradient(top, #ffff, #ffff);
    background-image: -ms-linear-gradient(top, #ffff, #ffff);
    background-image: -o-linear-gradient(top, #ffff, #ffff);
    background-image: linear-gradient(to bottom, #ffff, #ffff);
    -webkit-border-radius: 1;
    -moz-border-radius: 1;
    border-radius: 1px;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    color: #ebc632;
    font-size: 8px;
    padding: 5px 10px 5px 10px;
    border: solid #fafafa 2px;
    text-decoration: none;
    outline: none;
    margin: 10px;
  }

  .rbtn:hover {
    background-color: rgba(212, 152, 0, 0.0);
    text-decoration: none;
    border: solid #fafafa 2px;
    color: #fff;
  }

  .tag-line-div {
    // background-color: red;
    width: 100%;
    text-align: center;
    height: 400px;
    color: white;
    // font-family: 'brandon-grotesque', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    h1 {
      font-size: 12px;
    }
    #tag-line-1 {
      margin-top: 15%;
      font-size: 25px;
      letter-spacing: 2px;
      // text-shadow: 1px 1px black;
    }
    #tag-line-2 {
      color: #ebc632;
      font-size: 10px;
      letter-spacing: 2px;
      padding-bottom: 2%;
    }
    button {
      // width: 100%;
      text-align: center;
      margin: 20px 10px;
    }
  }






}
