

<div class="form">
  <form class="" method="POST" action="/login">
    <div class="fom-center">
      <h2>Login</h2>
    </div>
    <div>
      <label class="form-group" for="email">Email</label>
      <input class="form-control" type="text" name="email" id="email" required>
    </div>
    <div>
      <label class="form-group" for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" required>
    </div>

    <button class="bbtn">Login</button>
  </form>
</div>
