<h1>Login</h1>

<div class="form">
  <form class="" method="POST" action="/login">
    <div>
      <label for="email">Email</label>
      <br>
      <input type="text" name="email" id="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <br>
      <input type="password" name="password" id="password" required>
    </div>

    <button class="button rbtn">Login</button>
  </form>
</div>
